<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4"></h1>
        <%= content_tag :p, "Temporary Group page title!" %>
        <hr class="my-4">
        <%= content_tag :p, "Some information about the group" %>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <%= content_tag :h5, "Some info about the group" %>
          <%= content_tag :p, "This group is so cool!", class: "card-text" %>
        </div>
      </div>
    </div>
  </div>
</div>
