<div class="container">
  <h3>Events</h3>

  <div class="row">
    <% @events.each do |event| %>
      <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title"><%= event.name %></h5>
          <p class="card-text"><%= event.description %></p>
          <%= link_to event.name, event_path(event), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
